<!DOCTYPE html>
<html>
<head><title>{% block title %} {% endblock %}</title>
 <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='script.js') }}">
</head>
<body>
<nav>
    <ul>

<li><a href="{{url_for('home') }}"> HOME</a></li>
<li><a href="{{url_for('login') }}"> LOGIN</a></li>
<li><a href="{{url_for('register') }}"> REGISTER</a></li>

</ul>
</nav><hr>
    {% block content %}{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

</body>
</html>

